@model RegisterDTO
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}


<!-- Sign Up Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <form method="post" class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary">
                            <i class="fa fa-user-edit me-2"></i>
                            CRM Application
                        </h3>
                    </a>
                    <h3>Register Form</h3>
                    @Html.AntiForgeryToken()
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="FirstName" />
                    <label asp-for="FirstName"></label>
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="LastName" />
                    <label asp-for="LastName"></label>
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="Email" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-floating mb-4">
                    <input class="form-control" asp-for="Password" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-floating mb-4">
                    <input class="form-control" asp-for="ConfirmPassword" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Register</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>
<!-- Sign Up End -->