@using Core.Concretes.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a asp-action="index" asp-controller="home" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">
                <i class="fa fa-user-edit me-2"></i>
                CRM App
            </h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <i class="fas fa-user-tie rounded-circle fa-2x me-lg-2"></i>
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@user.FirstName @user.LastName</h6>
                <span>@(User.IsInRole("Admin") ? "Admin" : "Sales Person")</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a asp-action="index" asp-controller="home" class="nav-item nav-link">
                <i class="fa fa-tachometer-alt me-2"></i>
                Dashboard
            </a>
            <a asp-action="index" asp-controller="customers" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>
                Customers
            </a>
            <a asp-action="index" asp-controller="leads" class="nav-item nav-link">
                <i class="fa fa-phone me-2"></i>
                Leads
            </a>
            <hr />
            <a asp-action="people" asp-controller="account" class="nav-item nav-link">
                <i class="fa fa-users me-2"></i>
                Sales People
            </a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->